/*-- main styling */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Architects Daughter', cursive;
    transition: .3s linear;
}
a {
    text-decoration: none;
}
a:visited {
    color: red;
}
a:active {
    color: tomato;
}
a:hover {
    color: black;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(	255, 99, 71, 0.5);
}

/*all images*/
img {
  border-radius: 0px 0px 4px 4px;
  padding: 0px;
  max-width: 100%;
}

/*
Pseudo-selectors
*/
#main-header {
    height: 100vh;
    background: #E0E0E0 url('https://timbuktutravel.imgix.net/2019/02/0-General-windhoek-namibia-timbuktu-travel.jpg?auto=compress%2Cformat&ixlib=php-1.1.0&q=50') no-repeat center;
    background-size: cover;
    border-bottom: 6px solid #ddd;
}

#title {
    color: #f8f8f8;
    text-align: center;
    font-size: 50px;
    font-family: 'Concert One', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.scroll svg {
    margin-top: 0px;
    height: 100px;
    width: 100%;
    animation: float 1.8s infinite;
}

@keyframes float{
 0%, 50% {
   transform: translateY(50px);
   transform: translateY(-25px);
 }
 100% {
   transform: translateY(25px);
 }
}


.whk-intro {
    width: 80%;
    margin: 0 auto;
}

#call-out {
    text-align: center;
    font-size: 36px;
    word-wrap: break-word;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom: 3px solid tomato;
    color: tomato;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

/*whk-item-content*/
.whk-item-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 6px;
}

.whk-item-container > div {
    margin: 6px;
    max-width: 300px;
    height: auto;
}
/*whk-place*/
.place-name {
    text-align: center;
    word-wrap: break-word;
    color: tomato;
    background-color: #ddd;
    font-weight: 900;
    padding: 8px;
}

.place-name:hover {
  box-shadow: 0 0 2px 1px rgba(	255, 99, 71, 0.5);
}

/*place-llink*/
.place-link {
    display: flex;
    flex-wrap: wrap;
}

.place-link ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
}

/*place-img*/
.place-img {
    background-size: cover;
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 6px;
    width: 300px;
    height: 200px;
}

/*place-link-ul*/
.place-link ul li {
    background-color: tomato;
    margin-right: 6px;
    margin-top: 6px;
    padding: 6px;
}

/*.place-link ul li:hover effects*/
.place-link ul li:hover {
    background-color: white;
}
.place-link ul li a {
    color: white;
    font-weight: 900;
}
/*.place-link ul li a:hover effects*/
.place-link ul li a:hover {
    color: black;
}

/*main-footer*/
#main-footer{
    background-color: #fff;
    margin-top: 80px;
    border-top: 6px solid tomato;
    position: relative;
}
.scroll-top {
  position: absolute;
  right: 20px;
  bottom: 50%;
  font-display: grid;
  place-items: center;
  background-color: #fff;
  color: #121212;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
.scroll-top > a {
  color: #121212 !important;
}
.scroll-top i {
  color: #fff;
}
/*whk-footer*/
.whk-footer {
    padding: 8px;
    background-color: tomato;
}
.whk-footer > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*==== whk-footer-links ======*/
.whk-footer-links ul{
    list-style-type: none;
    padding: 0;
}

.whk-footer-links ul li {
    text-align: center;
    padding: 6px;
    margin: 6px;
    border: .5px solid white;
}

.whk-footer-links ul li:hover {
    background-color: white;
}

.whk-footer-links ul li a{
    color: white;
    font-weight: bold;
}
.whk-footer-links ul li a:hover {
    color: black;
}
/*whk-footer-h3*/
.whk-footer-h3 {
    text-align: center;
    color: tomato;
    margin: 8px 0px 24px 0px;
    padding: 6px;
}

/*whk-footer-sml*/
#whk-footer-sml {
    text-align: center;
    color: tomato;
    margin: 66px 0px 12px 0px;
}

.whk-last {
  text-align: center;
  margin-bottom: 12px;
}

.whk-privacy {
  color: tomato;
  margin-bottom: 12px;
}

/*-- media queries---*/
@media only screen and (max-width: 768px) {
    .wrapper {
    width: 100%;
    margin: 0 auto;
}
}
